.big-container {
  text-align: center;
  padding: auto;
}

.inbox-container {
  width: 300px;
  margin-right: 30px;
}

.inbox-title {
  height: 72px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  color: white;
  border: 2px solid white;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inbox {
  overflow: auto;
  max-height: 400px;
  border: 2px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.worker-list {
  padding: 10px 40px 10px 40px;
}

.worker-list:hover {
  background-color: #20df7f;
  color: white;
}

.list-group-item[aria-current="true"] {
  background-color: black !important;
  border-color: #aed248;
}

.messages-container {
  width: 500px;
  position: relative;
}

.messages {
  background-color: #0a3545;
  height: 400px;
  overflow: auto;
  border: 2px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.messages-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  color: white;
  border: 2px solid white;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.message-receive {
  position: relative;
  background-color: white;
  float: left;
  color: black;
  display: flex;
  padding: 10px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  z-index: 1;
}

.message-receive::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid white;
  border-bottom: 20px solid transparent;
  bottom: -10px;
  z-index: -1;
}

.message-sent {
  float: right;
  position: relative;
  background-color: rgb(158, 241, 165);
  color: black;
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 250px;
  border-radius: 10px;
  justify-content: right;
  text-align: right;
  z-index: 1;
}

.message-sent::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid rgb(158, 241, 165);
  border-bottom: 20px solid transparent;
  bottom: -10px;
  z-index: -1;
}

.input-text {
  border-width: 2px;
}

@media only screen and (max-width: 600px) {
  .messages-container {
    width: 320px;
  }
}

@media only screen and (max-width: 950px) {
  .big-container {
    flex-direction: column;
  }
  .inbox-container {
    height: 250px;
    margin: auto;
    padding: auto;
  }
  .inbox {
    overflow: auto;
    height: 150px;
  }
  .messages-container {
    margin: auto;
    padding: auto;
  }
}

.spinner {
  margin: auto;
  padding: auto;
}

.avatar-size {
  width: 50px;
  height: 50px;
}

.scroll-bottom {
  visibility: hidden;
  height: 20px;
  position: absolute;
  bottom: -13px;
}
