body {
  background-color: #0a3545;
}
table {
  background-color: whitesmoke;
  text-align: center;
}
.admin-menu-button {
  padding-right: 20px;
  background-color: #20df7f;
}
.btn-exit {
  position: relative;
  background-color: #20df7f;
}
