body {
  background-color: #0a3545;
}
table {
  background-color: whitesmoke;
}
.btn-exit {
  position: relative;
  background-color: #20df7f;
}

.profile-link {
  text-decoration: none;
  color: black;
}

.table-users {
  width: 90%;
  text-align: center;
}

.title-pannel {
  color: white;
}

.td-user {
  vertical-align: middle;
}

.th-user {
  background: #224957;
}
