.big-container {
  text-align: center;
  padding: auto;
}

.inbox-container {
  width: 300px;
}

.inbox-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.inbox {
  height: 500px;
  overflow: auto;
  margin: 20px;
}

.messages-container {
  width: 500px;
}

.messages {
  background-color: white;
  height: 500px;
  overflow: auto;
  margin: 20px;
  border-radius: 5px;
}

.messages-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

.message-receive {
  float: left;
}

.message-sent {
  float: right;
}

.avatar-receive {
  width: 30px;
  height: 30px;
}

.avatar-sent {
  width: 30px;
  height: 30px;
  float: right;
}
